/target
/lib
/classes
/checkouts
/clojuredocs.org
/clojure-docs.docset
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
docSet.dsidx
clojure_core.html
.DS_Store
httrack.sh
